article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@keyframes picture {
  from {
    background-position: 0 -1000px; }
  to {
    background-position: 0 2000px; } }

body {
  font-family: "Roboto", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #2e2d2d;
  display: block; }
  a:visited {
    color: inherit; }

.banner {
  margin: 0;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #2A4F5C;
  padding: 10px 0 10px 5%;
  letter-spacing: 2px; }
  .banner .drink-icon {
    width: 40px;
    display: inline-block; }
    .banner .drink-icon img {
      width: 100%; }
  @media (max-width: 480px) {
    .banner {
      font-size: 30px;
      width: 60%; } }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.links {
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  background: #2A4F5C; }
  .links .link {
    color: #FFFFFF;
    text-decoration: none;
    float: left;
    width: 33.33%;
    text-align: center;
    bottom: 0;
    padding: 10px; }
    .links .link:hover {
      background: #2e2d2d; }
  .links .home-link, .links .search-link {
    border-right: 1px solid white; }

.sign-out-button {
  position: fixed;
  right: 5%;
  top: 20px;
  font-family: "Oswald", sans-serif;
  background: #2e2d2d;
  color: white;
  padding: 7px 22px;
  text-transform: capitalize;
  z-index: 20;
  border: none; }

.home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/background4.jpg) center repeat;
  background-size: cover;
  animation: picture 50s linear infinite;
  height: 100vh;
  position: relative; }
  .home-page .wrapper {
    width: 95%;
    margin: 0 auto; }
    .home-page .wrapper h1 {
      color: #FFFFFF;
      text-shadow: 5px 5px #2A4F5C; }
    .home-page .wrapper .home-party {
      width: 80%;
      margin: 100px auto; }
      .home-page .wrapper .home-party h2 {
        margin: 0;
        text-align: center;
        color: #FFFFFF;
        outline: #2A4F5C; }
      .home-page .wrapper .home-party img {
        width: 100%; }

.showLocationInput, .recipe-card, .addToEvents {
  opacity: 0;
  display: none; }

.show {
  opacity: 1;
  display: block; }

.sign-in-page {
  height: 100vh;
  padding-top: 50px;
  background: #BAC0C5; }
  .sign-in-page div {
    width: 40%;
    margin: 0 auto; }
    .sign-in-page div img {
      width: 100%; }
    .sign-in-page div button {
      margin-top: 20px;
      width: 30%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Oswald", sans-serif;
      border-radius: 40px;
      background: #2A4F5C;
      color: white;
      font-size: 30px;
      padding: 10px 15px;
      text-transform: capitalize; }
      @media (max-width: 480px) {
        .sign-in-page div button {
          font-size: 16px;
          width: 60%; } }

.search {
  margin-bottom: 70px; }
  .search label {
    display: block;
    margin-bottom: 20px; }
    .search label input {
      padding: 10px 20px;
      height: 40px;
      border: 3px solid lightsalmon;
      outline: none; }
    .search label button {
      height: 40px;
      background: lightsalmon;
      color: #FFFFFF;
      padding-left: 20px;
      padding-right: 20px;
      text-transform: capitalize;
      border: none;
      font-family: "Oswald", sans-serif;
      position: relative;
      top: 1px; }
  .search .drink-preview {
    width: 33.3%;
    float: left;
    display: block;
    padding: 10px;
    position: relative;
    border: 3px solid transparent;
    transition: 0.5s; }
    .search .drink-preview:hover {
      border: 3px solid lightsalmon;
      background: lightsalmon;
      color: white; }
    @media (max-width: 480px) {
      .search .drink-preview {
        width: 100%; } }
    .search .drink-preview .drink-link h2 {
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 25px; }
    .search .drink-preview .drink-link .drink-pic {
      margin: 0 auto;
      width: 80%; }
      .search .drink-preview .drink-link .drink-pic img {
        width: 100%;
        border: 5px solid #FFFFFF; }
    .search .drink-preview .drink-link:hover {
      color: #FFFFFF; }
    .search .drink-preview .add-me-div .add-me {
      position: absolute;
      bottom: 5%;
      right: 5%;
      background: #ff5714;
      color: white;
      border: none;
      transition: 0.5s; }
      .search .drink-preview .add-me-div .add-me:hover {
        color: lightsalmon;
        background: #FFFFFF; }
    .search .drink-preview .add-me-div ul {
      position: absolute;
      right: 4%;
      bottom: 9%;
      background: white;
      padding: 0; }
      .search .drink-preview .add-me-div ul li {
        display: block;
        text-align: right;
        border-left: 0;
        outline: none;
        border: none; }
        .search .drink-preview .add-me-div ul li button {
          width: 100%; }

.events-page {
  margin-bottom: 100px; }
  .events-page .event-form {
    position: relative;
    background: url(../../assets/background3.png);
    padding: 30px 50px;
    margin-bottom: 30px; }
    .events-page .event-form h2 {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      margin: 0 0 10px 0; }
      @media (max-width: 480px) {
        .events-page .event-form h2 {
          font-size: 25px; } }
    .events-page .event-form .form-component {
      margin-bottom: 10px;
      font-size: 18px; }
      @media (max-width: 480px) {
        .events-page .event-form .form-component {
          font-size: 16px; } }
      .events-page .event-form .form-component label {
        font-family: "Roboto", sans-serif;
        width: 150px;
        display: inline-block;
        margin-right: 10px; }
        @media (max-width: 480px) {
          .events-page .event-form .form-component label {
            width: 40%; } }
      .events-page .event-form .form-component input {
        border: none;
        padding: 10px 15px;
        width: 40%; }
        @media (max-width: 480px) {
          .events-page .event-form .form-component input {
            width: 100%; } }
      .events-page .event-form .form-component textarea {
        width: 85%;
        padding: 10px 15px;
        border: none; }
        @media (max-width: 480px) {
          .events-page .event-form .form-component textarea {
            width: 100%; } }
    @media (max-width: 480px) {
      .events-page .event-form .event-form-desc label {
        margin-bottom: 10px; } }
    .events-page .event-form .event-form-submit {
      position: absolute;
      right: 0%;
      top: 0%;
      width: 20%;
      padding: 20px;
      border: none;
      background: lightsalmon;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      color: #FFFFFF; }
      @media (max-width: 480px) {
        .events-page .event-form .event-form-submit {
          position: relative;
          width: 100%; } }
  .events-page .single-event {
    width: 50%;
    float: left;
    padding: 10px;
    position: relative;
    overflow: scroll;
    height: 300px;
    margin-top: 10px; }
    @media (max-width: 480px) {
      .events-page .single-event {
        width: 100%; } }
    .events-page .single-event h2 {
      text-transform: capitalize;
      margin: 0;
      padding: 15px;
      color: black;
      font-family: "Oswald", sans-serif; }
    .events-page .single-event a .linked-event {
      background: linear-gradient(rgba(255, 160, 122, 0.2), rgba(255, 160, 122, 0.2)), url(../../assets/background3.png); }
      .events-page .single-event a .linked-event ul {
        padding-bottom: 15px; }
        .events-page .single-event a .linked-event ul h3 {
          margin-bottom: 5px;
          color: #2e2d2d;
          font-size: 17px; }
        .events-page .single-event a .linked-event ul .linked-drinks {
          list-style: circle; }
    .events-page .single-event .remove-btn {
      position: absolute;
      right: 3%;
      top: 20px;
      border: none;
      background: transparent;
      font-size: 20px; }
      .events-page .single-event .remove-btn:hover {
        color: darkred; }

.single-drink {
  background: url(../../assets/background3.png);
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 50px; }
  .single-drink h2 {
    font-family: "Oswald", sans-serif;
    font-size: 50px; }
    @media (max-width: 480px) {
      .single-drink h2 {
        text-align: center; } }
  .single-drink .drink-container {
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: 30px; }
    @media (max-width: 480px) {
      .single-drink .drink-container {
        width: 100%; } }
    .single-drink .drink-container img {
      width: 100%;
      border-radius: 50%; }
  .single-drink .desc-ing {
    float: left;
    width: 60%; }
    @media (max-width: 480px) {
      .single-drink .desc-ing {
        width: 100%; } }
    .single-drink .desc-ing ul li {
      list-style: circle; }
  .single-drink .drink-loc {
    clear: both; }
    .single-drink .drink-loc input[type=text] {
      border: 2px solid lightsalmon;
      padding: 10px 15px; }
      @media (max-width: 480px) {
        .single-drink .drink-loc input[type=text] {
          margin-bottom: 20px; } }
    .single-drink .drink-loc .locButton {
      font-family: "Oswald", sans-serif;
      background: lightsalmon;
      border: none;
      color: white;
      padding: 9px 22px;
      position: relative;
      top: 2px;
      text-transform: capitalize; }

.event {
  background: url(../../assets/background3.png);
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 50px; }
  .event h2 {
    font-family: "Oswald", sans-serif;
    font-size: 50px; }
  .event .eventRecipeCard {
    float: left;
    overflow: scroll;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-bottom: 40px;
    border-left: 3px solid transparent; }
    @media (max-width: 480px) {
      .event .eventRecipeCard {
        width: 100%; } }
    .event .eventRecipeCard:hover {
      border-left: 3px solid lightsalmon; }
    .event .eventRecipeCard ul {
      padding: 10px; }
  .event input[type=checkbox] {
    margin-right: 10px; }
