article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #2e2d2d;
  display: block; }
  a:visited {
    color: inherit; }

.banner {
  margin: 0;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #2A4F5C;
  padding: 10px 0 10px 5%;
  letter-spacing: 2px; }
  .banner .drink-icon {
    width: 40px;
    display: inline-block; }
    .banner .drink-icon img {
      width: 100%; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.links {
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  background: #2A4F5C; }
  .links .link {
    color: #FFFFFF;
    text-decoration: none;
    float: left;
    width: 33.33%;
    text-align: center;
    bottom: 0;
    padding: 10px; }
    .links .link:hover {
      background: #2e2d2d; }
  .links .home-link, .links .search-link {
    border-right: 1px solid white; }

.sign-out-button {
  position: fixed;
  right: 5%;
  top: 20px;
  font-family: "Oswald", sans-serif;
  background: #2e2d2d;
  color: white;
  padding: 7px 22px;
  text-transform: capitalize;
  z-index: 20; }

.home-page {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../assets/background3.png);
  height: 100vh;
  position: relative; }
  .home-page .wrapper {
    width: 95%;
    margin: 0 auto; }
  .home-page .home-party {
    width: 80%;
    margin: 100px auto; }
    .home-page .home-party h2 {
      margin: 0;
      text-align: center;
      color: #FFFFFF;
      outline: #2A4F5C; }
    .home-page .home-party img {
      width: 100%; }

.showLocationInput, .recipe-card, .addToEvents {
  opacity: 0;
  display: none; }

.show {
  opacity: 1;
  display: block; }

.sign-in-page {
  height: 100vh;
  padding-top: 50px;
  background: #BAC0C5; }
  .sign-in-page div {
    width: 40%;
    margin: 0 auto; }
    .sign-in-page div img {
      width: 100%; }
    .sign-in-page div button {
      margin-top: 20px;
      width: 30%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Oswald", sans-serif;
      border-radius: 40px;
      background: #2A4F5C;
      color: white;
      font-size: 30px;
      padding: 10px 15px;
      text-transform: capitalize; }

.search {
  margin-bottom: 70px; }
  .search label {
    display: block;
    margin-bottom: 20px; }
    .search label input {
      padding: 10px 20px;
      height: 40px;
      border: 3px solid #EBBBC9;
      outline: none; }
    .search label button {
      height: 40px;
      background: #EBBBC9;
      color: #FFFFFF;
      padding-left: 20px;
      padding-right: 20px;
      text-transform: capitalize;
      border: none;
      font-family: "Oswald", sans-serif;
      position: relative;
      top: 1px; }
  .search .drink-preview {
    width: 33.3%;
    float: left;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    border: 3px solid transparent; }
    .search .drink-preview:hover {
      border: 3px solid #EBBBC9; }
    @media (max-width: 480px) {
      .search .drink-preview {
        width: 100%; } }
    .search .drink-preview .drink-link h2 {
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 25px; }
    .search .drink-preview .drink-link .drink-pic {
      margin: 0 auto;
      width: 80%; }
      .search .drink-preview .drink-link .drink-pic img {
        width: 100%; }
    .search .drink-preview .add-me-div .add-me {
      position: absolute;
      bottom: 5%;
      right: 5%; }
    .search .drink-preview .add-me-div ul {
      position: absolute;
      right: 4%;
      bottom: 9%;
      background: white;
      padding: 0; }
      .search .drink-preview .add-me-div ul li {
        display: block;
        text-align: right;
        border-left: 0;
        outline: none;
        border: none; }
        .search .drink-preview .add-me-div ul li button {
          width: 100%; }
